@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.tasks h1{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
letter-spacing: 1rem ;
}
.tasks li, .myButton{
  border: 1px solid white !important;
  border-radius: 10px;
  margin-top: 1rem;
}

.myButton:hover{
  background-color: aliceblue;
}

.tasks h2{
  font-size: large;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.tasks h3{
  font-weight: bold;
}

.high-elevation{
  z-index: 9999;
}

.medium-elevation{
  z-index:200;
}
.low-elevation{
  z-index: 0;
}

.tubs {
  justify-items: stretch;

}
.rounded-border{
  border-radius:0px -10px -10px 0;
}
.border-radii{
  border: 1px solid black;
  border-radius: 20px;
}

.fade-container {
  transition: opacity 0.5s ease-in-out;
}

.visible-container {
  opacity: 1;
  position: sticky !important;
  top: 3.5rem;
}

.hidden-container {
  opacity: 0;
}

.active_link:active{
  color:blue;
}